body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 1.6;
}
.top-banner {
    background-color: #F0FFF0;
}
.logo {
    width: 200px;
}
.navbar-collapse a {
    margin: 25px;
    padding-top: 20px;
}
.top-heading {
    padding: 90px 60px;
    line-height: 40px;
}
p{
    color: gray;
}
.grn-btn{
    border: none;
    background-color: #21B573;
    color: white;
    border-radius: 33px;
    padding: 7px 25px;
}
#sign-in{
    background-color: #21B573;
    color: white;
    border-radius: 33px;
    padding: 12px 28px;
    margin-top: 33px;
}
.students img {
    width:25%;
}
.students .card{
    border: none;
    padding-top: 50px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #F8FFFB;

}
.card-body {
    text-align: center;
}
.card:hover {
    background-color: #fff;
    box-shadow: 1px 1px 30px lightgray;
}
h4{
    font-weight: 500;
    color: #413960;
    font-size: 24px;
}
.courses h2 {
    color: #413960;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 36px;
    text-shadow: 3px 3px 5px grey;
}
.courses img{
    width: 90%;
    padding: 30px 0;
    margin: auto;
}
.card-descript{
    margin-left: 20px;
}
.card-footer img {
    width: 26px;
    padding: 0;
}
.card-footer {
    background-color: #fff;
    border-top: none;
    padding-top: 30px;
}
.courses .card {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 30px lightgray;
}
.testimonial h2 {
    text-align: center;
    margin: 100px 0px;
    font-weight: 700;
    font-size: 36px;
}
.testimonial p {
    margin-left: 50px;
    color: gray;
}
.testimonial img {
    width: 120px;
    height: 120px;
}
.footer {
    margin-top: 100px;
    padding: 50px;
}
.footer a {
    display: block;
    text-decoration: none;
    color: white;
}
.footer {
    background-color: #282531;
}
.footer p {
    color: #fff;
}
.footer h5 {
    color: white;
}
.footer footer {
    color: white;
    text-align: center;
    margin-top: 75px;
}

