body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 1.6;
}
.top-banner {
    background-color: #F0FFF0;
}
.logo {
    width: 200px;
}
.navbar-collapse a {
    margin: 25px;
    padding-top: 20px;
}
.top-heading {
    padding: 90px 60px;
    line-height: 40px;
}
p{
    color: gray;
}
.grn-btn{
    border: none;
    background-color: #21B573;
    color: white;
    border-radius: 33px;
    padding: 7px 25px;
}
#sign-in{
    background-color: #21B573;
    color: white;
    border-radius: 33px;
    padding: 12px 28px;
    margin-top: 33px;
}
#students img {
    width:25%;
}
#students .card{
    border: none;
    padding-top: 50px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #F8FFFB;

}
.card-body {
    text-align: center;
}
.card:hover {
    background-color: #fff;
    box-shadow: 1px 1px 30px lightgray;
}
h4{
    font-weight: 500;
    color: #413960;
    font-size: 24px;
}
.courses h2 {
    color: #413960;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 36px;
    text-shadow: 3px 3px 5px grey;
}
.courses img{
    width: 85%;
    padding: 30px 0;
    margin: auto;
}
.card-descript{
    margin-left: 34px;
}
.card-footer img {
    width: 26px;
}
